body {
    font-family: "Roboto", sans-serif;
    /* Добавлена точка с запятой */
    color: #434455;
    /* Точка с запятой добавлена */
    background-color: #ffffff;
    /* Точка с запятой добавлена */
}

ul {
    list-style: none;
}

a {
    color: blue;
    /* Исходный цвет ссылки */
    text-decoration: none;
    /* Убирает подчеркивание */
}

a:hover {
    color: red;
    /* Цвет ссылки при наведении */
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    color: #4d5ae5;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    /* Точка с запятой добавлена */
}
.logo-header{
    color: #2e2f42;
}