body{
    font-family: "Roboto", sans-serif;
    color: #434455
    background-color: #FFFFFF
}
ul{
    list-style: none;
}
a {
    color: blue;
    /* Исходный цвет ссылки */
    text-decoration: none;
    /* Убирает подчеркивание */
}

a:hover {
    color: red;
    /* Цвет ссылки при наведении */
}
.logo{
    color: blue;
    font-family: "Raleway", sans-serif;
}